<!DOCTYPE html>

<html>
<head>
<meta charset = "utf-8">
<title>ABM Web - Make Your Todo List</title>
<style>
    body{
        background-image: url("<%= asset_path('homepic.png') %>");
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        font-family: "Optima";
    }

    .content-wrap{
        max-width: 800px;
        width: 85%;
    }

    .welcome-msg{
        margin-top: 100pt;
        margin-bottom: 20pt;

    }

    .buttons{
        display: flex;
        justify-content: center;
    }

    .button{
        display: inline-block;
        margin: 20px 50px;
    }

    h1{
        text-align: center;
        font-size: 100px;
        color: #D4F1FF; 
    }

    h2{
        text-align: center;
        font-size: 50px;
        color: #375B92;
    }
</style>
</head>

<body>
    <div content-wrap>
        <div class = 'welcome-msg'>
            <h1>Welcome to ABM</h1>
            <h2>Let's Organize Your Day with Us!</h2>
        </div>

        <div class = 'buttons'>
            <div class = 'button'>
                <!--- go to sign up page --->
                <%= link_to ('/users/sign_up') do %>
                    <button class = "btn btn-secondary btn-lg">Sign Up</button>
                <%end%>
            </div>
            <div class = 'button'>
                <!--- go to sign in page --->
                <%= link_to ('/users/sign_in') do %>
                    <button class = "btn btn-secondary btn-lg">Sign In</button>
                <%end%>
            </div>
        </div>
    </div>

</body>

</html>
