<!DOCTYPE html>

<html>
<head>
<meta charset = "utf-8">
<title>ABM Web - Make Your Todo List</title>
</head>

<body>
    <div content-wrap>
        <div class = 'welcome-msg'>
            <h1>Welcome to ABM</h1>
            <h2>Let's Help You Organize Your Day!</h2>
        </div>

        <div class = 'buttons'>
            <div class = 'button'>
                <!--- go to sign up page --->
                <%= link_to ('/users/sign_up') do %>
                    <button class = "btn btn-secondary btn-lg">Sign Up</button>
                <%end%>
            </div>
            <div class = 'button'>
                <!--- go to sign in page --->
                <%= link_to ('/users/sign_in') do %>
                    <button class = "btn btn-secondary btn-lg">Sign In</button>
                <%end%>
            </div>
        </div>
    </div>

</body>

</html>
