<!DOCTYPE html>

<html>
<head>
<meta charset = "utf-8">
<title>ABM Web - Make Your Todo List</title>
<style>
    body{
        background-image: url("<%= asset_path('homepic.png') %>");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Optima";
    }

    .welcome-msg{
        margin-top: 100pt;
        margin-bottom: 20pt;

    }

    .buttons{
        margin-left: 350pt;
        display: flex;
    }
    
    .button-sign-up{
        margin-right: 90pt;
    }

    h1{
        text-align: center;
        font-size: 100px;
        color: #D4F1FF; 
    }

    h2{
        text-align: center;
        font-size: 50px;
        color: #375B92;
    }
</style>
</head>

<body>
    <div class = 'welcome-msg'>
        <h1>Welcome to ABM</h1>
        <h2>Let's Organize Your Day with Us!</h2>
    </div>

    <div class = 'buttons'>
        <div class = 'button-sign-up'>
            <!--- go to sign up page --->
            <%= link_to ('/users/sign_up') do %>
                <button class = "btn btn-secondary btn-lg">Sign Up</button>
            <%end%>
        </div>
        <div class = 'button-sign-in'>
            <!--- go to sign in page --->
            <%= link_to ('/users/sign_in') do %>
                <button class = "btn btn-secondary btn-lg">Sign In</button>
            <%end%>
        </div>
    </div>

</body>

</html>
