<h1>Todo List</h1>

<table>
    <tr>
        <th>Status</th>
        <th>Task</th>
        <th>Due Date</th>
    </tr>
    <tr>
        <td>Started</td>
        <td>CSC 151 A11</td>
        <td>2022-04-10</td>
    </tr>
</table>

