// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    background-image: image-url('homepic.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    font-family: "Optima";
}

.content-wrap{
    max-width: 800px;
    width: 85%;
}

.welcome-msg{
    margin-top: 100pt;
    margin-bottom: 20pt;

}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    display: inline-block;
    margin: 20px 50px;
}

h1{
    text-align: center;
    font-size: 100px;
    color: #D4F1FF; 
}

h2{
    text-align: center;
    font-size: 50px;
    color: #375B92;
}